<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <nav id="nav_menu">
            <ul>
                <li>Sell Your Vehicle Now!</li>
                <li><a href="/Assignment3/views/index.ejs" class="current">Home</a></li>
                <li><a href="/Assignment3/views/enteredVehicles.ejs">List of Entered Vehicles</a></li>
            </ul>
        </nav>
    </header>

    <a href="/Assignment3/views/addVehicle.ejs" class="addVehicleLink">Add New Vehicle</a>
    
</body>
<footer>
    
</footer>
</html>